/* ==================== HOME ====================*/

body {
  background-color: rgb(7, 1, 61);
}

.logo-link {
  color: #f6f6f6;
}

.hero-first-container {
  background-image: url(/img/black-theme-img/hero-img-mobile.png);
}

.hero-second-container {
  background-color: rgb(11, 2, 83);
}

.hero-second-container-title {
  color: #f6f6f6;
}

.hero-second-container-text {
  color: rgba(246, 246, 246, 0.6);
}

.hero-third-container {
  background-color: rgb(11, 2, 83);
}

.hero-fourth-container {
  background-image: url(/img/black-theme-img/second-img-mobile.png);
}

.render-page-one {
  background-color: rgb(11, 2, 83);
}

.render-page-one-title {
  color: #f6f6f6;
}

.important-container {
  background-color: rgb(11, 2, 83);
}

.important-img {
  background-image: url(/img/black-theme-img/important-img-mobile.png);
}

.workout-card__block {
  background-color: rgb(15, 3, 104);
}

.workout-card__rating-text {
  color: #f6f6f6;
}

.workout-card__title {
  color: #f6f6f6;
}

.workout-card__link-start {
  color: #f6f6f6;
  stroke: #f6f6f6;
}

.secondary-color-text {
  color: #f6f6f6;
}
.workout-card__statistic_text {
  color: #f6f6f6;
}

.render-pagination-btn {
  color: #f6f6f6;
  fill: #f6f6f6;
}

.render-pagination-btn-active {
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
}

.modal-trane {
  background-color: rgb(11, 2, 83);
}
.modal-trane-title {
  color: #f6f6f6;
}
.modal-trane-ratind {
  color: #f6f6f6;
}

.modal-trane-title-information {
  color: #f6f6f6;
}
.modal-trane-information-text {
  color: #f6f6f6;
}
.modal-trane-btn-rating {
  border: 1px solid #f6f6f6;
}
.modal-rating {
  background-color: rgb(11, 2, 83);
}
.modal-rating-title {
  color: #f6f6f6;
}

.modal-rating-rating {
  color: #f6f6f6;
}
.modal-rating-email {
  border: 1px solid #f6f6f6;
}
.modal-rating-comment {
  border: 1px solid #f6f6f6;
}

.modal-trane-btn-close {
  fill: #f6f6f6;
}
.render-page-one-title-part {
  color: #f6f6f6;
}

.render-page-one-no {
  color: #f6f6f6;
}
/* ==================== /HOME ====================*/

@media screen and (min-width: 768px) {
  .hero-first-container {
    background-image: url(/img/black-theme-img/hero-img-tablet.png);
  }

  .hero-fourth-container {
    background-image: url(/img/black-theme-img/second-img-tablet.png);
  }
  .important-img {
    background-image: url(/img/black-theme-img/important-img-tablet.png);
  }
}

@media screen and (min-width: 1440px) {
  .hero-first-container {
    background-image: url(/img/black-theme-img/hero-img-desktop.png);
  }
}

/* ==================== FAVORITE ====================*/

.favorite-quote__container {
  background-color: rgb(11, 2, 83);
}

.collection-img-new {
  background-image: url(/img/black-theme-img/favorite-img-desktop.png);
}

.favorite__white-card {
  background-color: rgb(11, 2, 83);
}

.white-card__headline {
  color: #f6f6f6;
}

.white-card__text {
  color: #f6f6f6;
}

.white-card__svg {
  fill: #f6f6f6;
}

/* @media screen and (min-width: 1440px) {
    .collection-img {
        background-image: url(/img/black-theme-img/favorite-img-desktop.png);
    }

} */
