.modal-rating-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.6);
  transform: translateX(-100%);
  transition: transform 250ms linear;
}
.modal-rating {
  width: 335px;
  height: 357px;
  border-radius: 20px;
  background: #f6f6f6;
  position: relative;
  padding: 40px 20px;
}
.modal-rating-svg-close {
  stroke: black;
}
.modal-rating-btn-close {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  right: 14px;
}
.modal-rating-title {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
}
.modal-rating-radio-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  margin-bottom: 20px;
}
.modal-rating-rating {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.modal-rating-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-rating-svg-star {
  fill: rgba(27, 27, 27, 0.2);
}
.modal-rating-svg-star-gold {
  fill: #eea10c;
}

.modal-rating-email {
  border-radius: 30px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  color: rgba(27, 27, 27, 0.6);
  background-color: transparent;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
  width: 295px;
  height: 42px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  outline: transparent;
  transition: border 250ms linear;
}
.modal-rating-email:hover,
.modal-rating-email:focus {
  border: 2px solid #1b1b1b;
}
.modal-rating-comment {
  width: 295px;
  height: 93px;
  border-radius: 15px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  background-color: transparent;
  resize: none;
  padding: 12px 14px;
  margin-bottom: 20px;
  outline: transparent;
  transition: border 250ms linear;
}
.modal-rating-comment:hover,
.modal-rating-comment:focus {
  border: 2px solid #1b1b1b;
}
.modal-rating-btn {
  height: 42px;
  width: 295px;
  border-radius: 30px;
  background-color: #7e847f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: background-color 250ms linear;
}
.modal-rating-btn:focus,
.modal-rating-btn:hover {
  background-color: #5f6560;
}
@media screen and (min-width: 768px) {
  .modal-rating {
    width: 450px;
    height: 432px;
    padding: 50px;
  }
  .modal-rating-svg-close {
    width: 28px;
    height: 28px;
  }
  .modal-rating-radio-list {
    margin-bottom: 32px;
  }
  .modal-rating-email {
    width: 350px;
    height: 48px;
    margin-bottom: 16px;
  }
  .modal-rating-comment {
    width: 350px;
    margin-bottom: 32px;
    height: 106px;
  }
  .modal-rating-btn {
    width: 350px;
    height: 48px;
    font-size: 16px;
  }
}

.modal-rating-background-active {
  transform: translateX(0);
}
