.render-page-one {
  background-color: #e8e8e8;
  border-radius: 30px;
  padding: 40px 0;
}
.render-page-one-title {
  color: #1b1b1b;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: start;
  margin-bottom: 20px;
}
.render-page-one-list-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  margin-bottom: 40px;
}
.render-page-one-btn {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #f6f6f6;
  border: none;
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.render-page-one-btn-active {
  background-color: #7e847f;
  color: #f6f6f6;
}
.render-page-one-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin-bottom: 20px;
}
.render-page-one-item {
  background-size: cover;
  width: 295px;
  height: 232px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
}
.render-page-one-item > img {
  width: 295px;
  height: 232px;
}
.render-page-one-img-container {
  /* background-image: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.7) 0%,
    rgba(16, 16, 16, 0.7) 100%
  ); */
  width: 295px;
  height: 232px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
}
.render-page-one-item-title {
  color: #f6f6f6;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
.render-page-one-item-zones {
  color: rgba(246, 246, 246, 0.4);
  font-size: 12px;
  line-height: 18px;
}
.render-btn-list-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.render-pagination-btn {
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.8px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
}
.render-pagination-btn-active {
  color: #1b1b1b;
  border-radius: 50%;
  border: 1px solid #1b1b1b;
  padding: 0px 12px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .render-page-one {
    padding: 64px 0;
  }
  .render-page-one-title {
    font-size: 44px;
    margin-bottom: 32px;
  }
  .render-page-one-list-btn {
    gap: 8px;
  }
  .render-page-one-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .render-page-one-list {
    flex-direction: row;
    gap: 14px;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .render-page-one-item {
    width: 313px;
    height: 250px;
  }
  .render-page-one-item > img {
    width: 313px;
    height: 250px;
  }
  .render-page-one-img-container {
    width: 313px;
    height: 250px;
  }
  .render-page-one-item-title {
    font-size: 24px;
  }
  .render-pagination-btn {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .render-page-one-list {
    gap: 40px 20px;
  }
}
