<div class="burger-menu-block is-hidden no-scroll">
  <div class="burger-menu">
    <div class="burger-menu__header-mobile-menu">
      <a class="burger-menu__link" href="#">energy.flow</a>
      <button class="burger-menu__btn-close" type="button">
        <svg class="burger-menu__icon-close" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <div>
      <ul class="burger-menu__pages-list">
        <li class="burger-menu__pages-list__item">
          <a
            class="burger-menu__pages-list__item__link page-active"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="burger-menu__pages-list__item">
          <a class="burger-menu__pages-list__item__link" href="./favorit.html"
            >Favorites</a
          >
        </li>
      </ul>
    </div>

    <div>
      <ul class="burger-menu__social-link-list">
        <li class="burger-menu__social-link-list__item">
          <a class="burger-menu__social-link-list__link" href="#">
            <svg
              class="icon-close"
              width="25"
              height="25"
              style="fill: #f6f6f6"
            >
              <use href="./img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="burger-menu__social-link-list__item">
          <a class="burger-menu__social-link-list__link" href="#">
            <svg
              class="icon-close"
              width="25"
              height="25"
              style="fill: #f6f6f6"
            >
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="burger-menu__social-link-list__item">
          <a class="burger-menu__social-link-list__link" href="#">
            <svg
              class="icon-close"
              width="25"
              height="25"
              style="fill: #f6f6f6"
            >
              <use href="./img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
