<section class="section">
    <div class="container">
     
      <div class="favorites__general-container">
        <div class="favorites__general-wrap">

          <div class="favorite-quote__container">
            <div class="favorite-svg__circle">
              <svg class="favorite__svg" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-icon"></use>
              </svg>
            </div>
            <h3 class="favorite-quote__title">Quote of the day</h3>
            <svg class="commas__svg" width="28" height="28">

              <use href="./img/symbol-defs.svg#icon-inverted-commas"></use>
            </svg>
            <div class="favorite-quote__wrapper js-quote">
              <p class="favorite-quote__text">
                A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.
              </p>
              <h4 aria-colcount="favorite-quote__autor" >Tom Brady</h4>
            </div>
          </div>


          <ul class="favorites__card-list">
            
            <li>
              <div class="img-card__container"></div>
            </li>

            <li>
              <div class="favorite__white-card">
               <div class="favorite__white-card-text">
                <svg class="white-card__svg" width="20" height="20">
                  <use href="./img/symbol-defs.svg#icon-search"></use>
                </svg>
                <h3 class="white-card__headline">10 mins</h3>
                <p class="white-card__text">Daily norm of sports</p>
               </div>
              </div>
            </li>
          </ul>
        </div>
  
        
      </div>
    </div>
  </section>
