<section class="favorite-hero-section">
  <div class="container favorites-hero-container">
    <div class="favorite-quote__container">
      <div>
        <svg width="34" height="34">
          <use href="./img/symbol-defs.svg#icon-icon"></use>
        </svg>
      </div>
      <div>
        <div class="favorite-svg__circle">
          <h3 class="favorite-quote__title">Quote of the day</h3>
          <svg class="commas__svg" width="28" height="28">
            <use href="./img/symbol-defs.svg#icon-inverted-commas"></use>
          </svg>
        </div>
        <p class="favorite-quote__text"></p>
        <p class="favorite-quote__autor">Tom Brady</p>
      </div>
    </div>

    <div class="favorite-hero-img-container">
      <img
        class="collection-img"
        srcset="
          ./img/favorite-hero/favorite-hero-img.jpg            335w,
          ./img/favorite-hero/favorite-hero-img@2x.jpg         670w,
          ./img/favorite-hero/favorite-hero-img-tablet.jpg     368w,
          ./img/favorite-hero/favorite-hero-img-tablet@2x.jpg  736w,
          ./img/favorite-hero/favorite-hero-img-desktop.jpg    352w,
          ./img/favorite-hero/favorite-hero-img-desktop@2x.jpg 704w
        "
        sizes="(min-width:1440px) 352px, (min-width:768px) 368px, (min-width:320px) 335px"
        src="./img/favorite-hero/favorite-hero-img.jpg"
        alt=""
      />
    </div>

    <div class="favorite__white-card">
      <ul class="favorite__white-card-list">
        <li>
          <svg class="white-card__svg" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-fluent-food-filled"></use>
          </svg>
        </li>
        <li><h3 class="white-card__headline">10 min</h3></li>
        <li><p class="white-card__text">Daily norm of sports</p></li>
      </ul>
    </div>
  </div>
</section>
