<section class="favorites-exercise-section">
  <div class="container">
    <h2 class="favorites-exercise-title">Favorites</h2>
    <div class="favorites-exercise-container"></div>
    <ul class="render-btn-list-pagination">
      <li>
        <button
          class="render-pagination-btn"
          type="button"
          data-btn="1"
          style="display: none"
        >
          0
        </button>
      </li>
      <li>
        <p class="render-pagination-btn render-pagination-btn-active">1</p>
      </li>
      <li>
        <button class="render-pagination-btn" type="button" data-btn="3">
          2
        </button>
      </li>
    </ul>
  </div>
</section>
