<footer>
  <div class="container">
    <div class="footer-box">
      <div class="menu-social">
        <a class="footer-logo" href="./index.html">energy.flow</a>

        <ul class="menu-list">
          <li class="menu-items">
            <a
              class="menu-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="icons-footer" width="28" height="28">
                <use href="./img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="menu-items">
            <a
              class="menu-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="icons-footer" width="28" height="28">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu-items">
            <a
              class="menu-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="icons-footer" width="28" height="28">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-text">
        <h2 class="footer-text-main">
          Transforming your
          <span class="footer-text-main-span">body</span> shape with us
        </h2>
      </div>

      <div class="form-main">
        <p class="form-text">Subscribe and learn about new exercises!</p>
        <form class="form">
          <input
            class="footer-input"
            type="email"
            name="email"
            placeholder="E-mail"
          />
          <button class="footer-button" type="submit">Send</button>
        </form>
      </div>

      <div class="footer-text-end">
        <p class="text-end-first">Energy Flow. All rights reserved.</p>
        <div class="text-end-second">
          <p>Privacy Policy</p>
          <p>/</p>
          <p>Terms of Service</p>
        </div>
      </div>
    </div>
  </div>
</footer>
