<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo-link" href="./header-project-03.html">energy.flow</a>
      <ul class="page-list">
        <li class="page-list-item active">
          <a class="page-link" href="#">Home</a>
        </li>
        <li class="page-list-item-disable">
          <a class="page-link fav" href="./favorit.html">Favorites</a>
        </li>
      </ul>

      <ul class="sm-list">
        <li>
          <div class="change-btn">
            <label class="switch">
              <input class="change" type="checkbox" />
              <span class="slider round"></span>
            </label>
          </div>
        </li>
        <li class="sm-list-item">
          <a class="sm-link" href="https://www.facebook.com/goITclub/">
            <svg class="icon">
              <use href="./img/symbol-defs.svg#icon-facebook">icon</use>
            </svg>
          </a>
        </li>
        <li class="sm-list-item">
          <a class="sm-link" href="https://www.instagram.com/goitclub/">
            <svg class="icon">
              <use href="./img/symbol-defs.svg#icon-instagram">icon</use>
            </svg>
          </a>
        </li>
        <li class="sm-list-item">
          <a class="sm-link" href="https://www.youtube.com/c/GoIT">
            <svg class="icon">
              <use href="./img/symbol-defs.svg#icon-youtube">icon</use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="button-burger" type="button">
        <svg class="icon-burger" width="32" height="16">
          <use href="./img/symbol-defs.svg#icon-open-burger-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
