<section class="hero container">
  <div class="hero-first-container">
    <ul class="hero-first-container-ul">
      <li class="hero-first-container-li">#Sport</li>
      <li class="hero-first-container-li">#Healthy</li>
      <li class="hero-first-container-li">#Workout</li>
      <li class="hero-first-container-li">#Diet</li>
    </ul>
  </div>

  <div class="hero-second-container">
    <h1 class="hero-second-container-title">
      Get <span class="hero-second-container-span">Body</span> in shape, Stay
      healthy
    </h1>
    <p class="hero-second-container-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
  </div>
  <!-- ================================================================================================== -->
  <div class="hero-third-container">
    <div>
      <svg width="34" height="34">
        <use href="./img/symbol-defs.svg#icon-icon"></use>
      </svg>
    </div>

    <div>
      <div class="favorite-svg__circle">
        <h3 class="favorite-quote__title">Quote of the day</h3>
        <svg class="commas__svg" width="28" height="28">
          <use href="./img/symbol-defs.svg#icon-inverted-commas"></use>
        </svg>
      </div>
      <p class="favorite-quote__text"></p>
      <p class="favorite-quote__autor"></p>
    </div>
  </div>

  <div class="hero-fourth-container"></div>
</section>
