<section class="section-import-minutes">
  <div class="container">
    <ul class="important-list">
      <li class="important-item-img">
        <div class="important-img"></div>
      </li>

      <li class="important-item">
        <div class="important-container">
          <div class="important-card">
            <svg class="important-svg" width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-fluent-food"></use>
            </svg>
            <h2 class="important-title">110 min</h2>
          </div>
          <p class="important-title-text">Daily norm of sports</p>
          <p class="important-text">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day?
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
