<div class="modal-rating-background">
  <div class="modal-rating">
    <button class="modal-rating-btn-close" type="button">
      <svg class="modal-rating-svg-close" height="24" width="24">
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <form class="modal-rating-form">
      <p class="modal-rating-title">Rating</p>
      <ul class="modal-rating-radio-list">
        <li><p class="modal-rating-rating">0.0</p></li>
        <li>
          <label
            ><input
              class="modal-rating-radio"
              value="1"
              type="radio"
              name="radiostar" /><span>
              <svg class="modal-rating-svg-star" height="24" width="24">
                <use href="./img/symbol-defs.svg#icon-star"></use>
              </svg> </span
          ></label>
        </li>
        <li>
          <label
            ><input
              class="modal-rating-radio"
              value="2"
              type="radio"
              name="radiostar" /><span>
              <svg class="modal-rating-svg-star" height="24" width="24">
                <use href="./img/symbol-defs.svg#icon-star"></use>
              </svg> </span
          ></label>
        </li>
        <li>
          <label
            ><input
              class="modal-rating-radio"
              value="3"
              type="radio"
              name="radiostar" /><span>
              <svg class="modal-rating-svg-star" height="24" width="24">
                <use href="./img/symbol-defs.svg#icon-star"></use>
              </svg> </span
          ></label>
        </li>
        <li>
          <label
            ><input
              class="modal-rating-radio"
              value="4"
              type="radio"
              name="radiostar" /><span>
              <svg class="modal-rating-svg-star" height="24" width="24">
                <use href="./img/symbol-defs.svg#icon-star"></use>
              </svg> </span
          ></label>
        </li>
        <li>
          <label
            ><input
              class="modal-rating-radio"
              value="5"
              type="radio"
              name="radiostar" /><span>
              <svg class="modal-rating-svg-star" height="24" width="24">
                <use href="./img/symbol-defs.svg#icon-star"></use>
              </svg> </span
          ></label>
        </li>
      </ul>
      <input
        class="modal-rating-email"
        placeholder="Email"
        name="email"
        type="email"
      />
      <textarea
        class="modal-rating-comment"
        name="comment"
        placeholder="Your comment"
      ></textarea>
      <button class="modal-rating-btn">Send</button>
    </form>
  </div>
</div>
