<section class="render-page-one">
  <div class="container">
    <h2 class="render-page-one-title">Exercises</h2>
    <ul class="render-page-one-list-btn">
      <li>
        <button class="render-page-one-btn render-page-one-btn-active">
          Muscles
        </button>
      </li>
      <li><button class="render-page-one-btn">Body&nbsp;parts</button></li>
      <li><button class="render-page-one-btn">Equipment</button></li>
    </ul>
    <ul class="render-page-one-list"></ul>
    <ul class="render-btn-list-pagination">
      <li>
        <button
          class="render-pagination-btn render-pagination-btn-active"
          type="button"
        >
          1
        </button>
      </li>
      <li>
        <button class="render-pagination-btn" type="button">2</button>
      </li>
    </ul>
  </div>
  <script>
    const renderPageOneListEl = document.querySelector('.render-page-one-list');
    const listTranes = [];
    const markupInf = {
      url: './img/render-page-one/test-img.jpg',
      apparatus: 'Abductors',
      zones: 'Muscles',
    };
    const createList = () => {
      let iteration = 8;
      const body = document.querySelector('body');
      const width = getComputedStyle(body).width;
      if (parseInt(width) > 767) iteration = 12;
      for (let i = 0; i < iteration; i++) listTranes.push(markupInf);
    };
    createList();
    const createMarkupListPageOne = array => {
      return array.reduce((html, item) => {
        return (
          html +
          ` <li class="render-page-one-item">
            <img src="${item.url}" alt="" />
            <div class="render-page-one-img-container">
              <p class="render-page-one-item-title">${item.apparatus}</p>
              <p class="render-page-one-item-zones">${item.zones}</p>
            </div>
          </li>`
        );
      }, '');
    };
    renderPageOneListEl.innerHTML = createMarkupListPageOne(listTranes);
  </script>
</section>
