<section class="render-page-one">
  <div class="container render-page-block">
    <h2 class="render-page-one-title">
      Exercises
      <span class="render-page-one-slesh" style="display: none">/</span
      ><span class="render-page-one-title-part"> </span>
    </h2>
    <div class="render-page-one-list-btn-search">
      <ul class="render-page-one-list-btn">
        <li class="render-page-one-filter-list">
          <button class="render-page-one-btn render-page-one-btn-active">
            Muscles
          </button>
        </li>
        <li><button class="render-page-one-btn">Body parts</button></li>
        <li><button class="render-page-one-btn">Equipment</button></li>
      </ul>
      <form class="form-search" style="display: none">
        <label>
          <input
            type="text"
            name="query"
            class="form-search__input"
            placeholder="Search"
          />
        </label>
        <button type="submit" class="form-search__button">
          <svg class="form-search__icon">
            <use href="./img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <ul class="render-page-one-list"></ul>
    <ul class="render-btn-list-pagination"></ul>
  </div>
</section>
