<section class="render-page-one">
  <div class="container render-page-block">
    <h2 class="render-page-one-title">Exercises</h2>
    <ul class="render-page-one-list-btn">
      <li>
        <button class="render-page-one-btn render-page-one-btn-active">
          Muscles
        </button>
      </li>
      <li><button class="render-page-one-btn">Body&nbsp;parts</button></li>
      <li><button class="render-page-one-btn">Equipment</button></li>
    </ul>
    <ul class="render-page-one-list"></ul>
    <ul class="render-btn-list-pagination">
      <li>
        <button
          class="render-pagination-btn"
          type="button"
          data-btn="1"
          style="display: none"
        >
          0
        </button>
      </li>
      <li>
        <p class="render-pagination-btn render-pagination-btn-active">1</p>
      </li>
      <li>
        <button class="render-pagination-btn" type="button" data-btn="3">
          2
        </button>
      </li>
    </ul>
  </div>
</section>
