<ul class="workout-card__list">
	<li class="workout-card__item">
		<div class="workout-card__block">
			<div class="workout-card__block-top">
				<div class="workout-card__block_button-rating">
					<button type="button" class="workout-card__button-workout">Workout</button>
					<!-- <div class="workout-card__rating-block"> -->
					<p class="workout-card__rating-text"> 4.0 </p>
					<svg class="workout-card__rating-icon">
						<use class="icon-star" href="./img/symbol-defs.svg#icon-rating-star"></use>
					</svg>
					<!-- </div> -->
				</div>
	
				<a href="#" class="workout-card__link-start">
					Start
					<svg class="workout-card__link-icon">
						<use class="icon-arrow" href="./img/symbol-defs.svg#icon-arrow-right"></use>
					</svg>
				</a>
			</div>
	
			<h3 class="workout-card__title">
				<svg class="workout-card__title-icon">
					<use class="icon-arrow" href="./img/symbol-defs.svg#icon-running-man"></use>
				</svg>
				Air bike
			</h3>
	
			<ul class="workout-card__statistic_list">
				<li class="workout-card__statistic_item">
					<p class="workout-card__statistic_text">
						<span class="secondary-color-text">Burned calories:</span> 220 / 3 min
					</p>
				</li>
				<li class="workout-card__statistic_item">
					<p class="workout-card__statistic_text">
						<span class="secondary-color-text">Body part:</span> Waist
					</p>
				</li>
				<li class="workout-card__statistic_item">
					<p class="workout-card__statistic_text">
						<span class="secondary-color-text">Target:</span> Abs
					</p>
				</li>
			</ul>
	
		</div>
	</li>
</ul>