@import url(./base/container.css);
@import url(./base/base.css);
@import url(./animation.css);

@import url(./layout/burger-menu.css);
@import url(./layout/header.css);
@import url(./layout/home-hero-section.css);
@import url(./layout/favorite-section.css);
@import url(./layout/modal-trane.css);
@import url(./layout/render-page-one-section.css);
@import url(./layout/section-hero.css);
@import url(./layout/important-minutes.css);
@import url(./layout/footer.css);
/* @import url(./layout/important-minutes.css); */

@import url(./layout/modal-rating.css);